
packages/*
Tests/WebApiServerDemo.Tests/bin/Debug/*
Tests/WebApiServerDemo.Tests/obj/Debug/*
.vs/WebApiServerDemo/v14/.suo
Tools/WebApiServerDemo.Migrator/bin/Debug/*
Tools/WebApiServerDemo.Migrator/obj/Debug/*
WebApiServerDemo.Core/obj/Debug/*
WebApiServerDemo.WebApi/obj/Debug/*
WebApiServerDemo.Application/bin/Debug/*
WebApiServerDemo.Application/obj/Debug/*
WebApiServerDemo.EntityFramework/bin/Debug/*
WebApiServerDemo.Core/bin/Debug/*
WebApiServerDemo.EntityFramework/obj/Debug/*
WebApiServerDemo.Web/bin/*
WebApiServerDemo.Web/obj/Debug/*
WebApiServerDemo.WebApi/bin/Debug/*
*.user
WebApiServerDemo.Web/App_Data/Logs/*

WebApiServerDemo.Web/App_Data/Logs/*
WebApiServerDemo.Web/Properties/PublishProfiles/*
